@font-face {
    font-family: liberationSans;
    src: url(LiberationSans-Regular.ttf);
}

@font-face {
    font-family: liberationSansBold;
    src: url(LiberationSans-Bold.ttf);
}

@font-face {
    font-family: openSans;
    src: url(OpenSans-Regular.ttf);
}

@font-face {
    font-family: openSansBold;
    src: url(OpenSans-Bold.ttf);
}

/*h1  {
  font-family: liberationSansBold;
}*/

/*
h1  {
  font-family: openSansBold;
}*/

body {
  font-family: openSans;
  background-color: #3cbb99;
  margin-left: 40px;
  margin-right: 40px;
}

/*.centered {
  text-align: center;
}*/
a:link{
  color: black;
}

a:visited{
  color: black;
}
.contactLinks {
  text-align: center;
}

.name h2 {
  margin-left: 0px;
  margin-top: 0px;
  margin-bottom: 0px;
}

.law {
  font-size: 30px;
}
